@import url("https://cdn.jsdelivr.net/npm/@fontsource/poppins@latest/index.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/josefin-sans@latest/index.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/kanit@latest/index.css");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", sans-serif, "kanit";
  font-size: var(--fluid-typography);
}

h1 {
  font-size: calc(var(--fluid-typography) * 2.5);
}
h2 {
  font-size: calc(var(--fluid-typography) * 2);
}
h3 {
  font-size: calc(var(--fluid-typography) * 1.75);
}
h4 {
  font-size: calc(var(--fluid-typography) * 1.5);
}
h5 {
  font-size: calc(var(--fluid-typography) * 1.25);
}
h6 {
  font-size: calc(var(--fluid-typography) * 1.1);
}

.text-shadow {
  text-shadow: rgba(0, 0, 0, 0.498039) -1px -1px 0px,
    rgba(0, 0, 0, 0.498039) -1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px 1px 0px,
    rgba(0, 0, 0, 0.498039) 1px -1px 0px;
}

/* For WebKit browsers (Chrome, Safari) */
.scrollbar-custom::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: none;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 20px;
}

/* .scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: darkolivegreen;
} */

/* For Firefox */
.scrollbar-custom {
  scrollbar-width: 1rem;
  scrollbar-color: grey none;
}
