/* These styles can be moved to index.css */

/* For WebKit browsers (Chrome, Safari) */
.scrollbar-custom::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: none;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 20px;
}

/* .scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: darkolivegreen;
} */

/* For Firefox */
.scrollbar-custom {
  scrollbar-width: 1rem;
  scrollbar-color: grey none;
}
