@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #2E2F40;
  --accent-color: #35364C;
  --text-primary: #fff;
  --text-secondary: #94a3b8;

  --bg-color-light: #f1f1f1;
  --accent-color-light: #dbd9d9;
  --text-primary-light: #242729;
  --text-secondary-light: #515155;

  --focus-primary: #5f14c7;
  --focus-secondary: #cdb7eb;

  --color-primary: #247BF7;
  --color-secondary: #F7921E;
  --color-accent: #5f14c7;
  --color-neutral: rgb(255, 211, 255);
  --color-white: #fff;
  --color-black: #000;
  --color-gray: rgba(0, 0, 0, 0.305) 0;
  --color-danger: rgb(250, 35, 35);
  --shadow-dark: rgba(0, 0, 0, 0.3);
  --shadow-medium: rgba(0, 0, 0, 0.2);
  --shadow-light: rgba(0, 0, 0, 0.1);
}